<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado</title>
</head>
<body>

<table>
	<thead>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Fecha de Entrada</th>
		<th>Carrera</th>
		<th>Estado</th>
	</thead>
	<th:block th:each="estudiante, row:${studentsList}">
	<tr>
		<th th:text="${estudiante.nombre}"/>
		<th th:text="${estudiante.apellido}"/>
		<th th:text="${estudiante.fEntrada}"/>
		<th th:text="${estudiante.carrera}"/>
		<th th:text="${estudiante.estado}"/>
	</tr>
	</th:block>
</table>

</body>
</html>